<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


    <title>ContactUs</title>
</head>
<body background="https://cdn.pixabay.com/photo/2017/03/28/22/55/night-photograph-2183637_1280.jpg">


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">TextUtils.in</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/aboutus">About Us</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/ContactUs">Contact Us</a>
      </li>
    </ul>
  </div>
     <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Need Help?</strong> Check Below..
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>





<div class="container">
    <h1 style="color: white">How We Can Help You?</h1>
<br>
<h3 style="color: white" >Welcome to django-helpdesk’s documentation!</h3>
<p style="font-size:18px ; color: white " >django-helpdesk is a Django application to manage helpdesk tickets for your internal helpdesk. It was formerly known as Jutda Helpdesk.</p>
<br>
<h3 style="color: white">How Does It Look?</h3>
    <p style="font-size:18px;  color: white ">You can see a demo installation at <a class="nav-link" href="http://django-helpdesk-demo.herokuapp.com/">http://django-helpdesk-demo.herokuapp.com/</a></p>
<h2 style="color: white">Quick Start</h2>
<p style="font-size:18px ;  color: white ">django-helpdesk is just a Django application with models, views, templates, and some media. If you’re comfortable with Django just try <a style="font-size:20px ;color:red;">pip install django-helpdesk</a>. If not, continue to read the Installation document.</p>
<h2 style="color: white">Key Features</h2>
<p style="font-size:18px ;  color: white ">django-helpdesk has been designed for small businesses who need to receive, manage and respond to requests for help from customers. In this context ‘customers’ may be external users, or other people within your company.</p>

  <ul>  <li style="font-size:18px; color: white ">Tickets can be opened via email</li>
  <li style="font-size:18px; color: white ">Multiple queues / categories of tickets</li>
  <li style="font-size:18px; color: white ">Integrated FAQ / knowledgebase</li>
  <li style="font-size:18px; color: white ">API to manage tickets</li>
</ul>

<h2 style="color: white">Customer-facing Capabilities</h2>
<p style="font-size:18px; color: white ">Customers (who are not ‘staff’ users in Django) can:</p>
    <ol>
    <li style="font-size:18px; color: white ">Browse your knowledgebase / FAQ</li>
    <li style="font-size:18px; color: white ">Submit support requests via web/email</li>
    <li style="font-size:18px; color: white ">Review open and closed requests they submitted</li>
</ol>
    <a href="/">
    <button class="btn btn-primary py-3 px-5"  type="submit"> Back</button>
        </a>
    </div>
</body>
</html>