<!DOCTYPE html>
<html lang="en">
<head>

     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=2, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Final Result :</title>
</head>

<body background="https://browsecat.art/sites/default/files/galaxy-4k-wallpapers-107509-592970-5805796.png">
<div class="container">
<h2 style="color: blue"> Unable to Provide result, Please select any one option from previous page: </h2>

    {{text}}


<br>
<a href="/">
    <button class="btn btn-primary py-3 px-5"  type="submit"> Back</button>
        </a>

</div>
</body>
</html>